@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_HeadView")
<body>
	<div class="header">
		<div class="container">

			@await Component.InvokeAsync("_TopAddressView")
			
			@await Component.InvokeAsync("_SocialMediaView")

			<div class="clearfix"> </div>
		</div>
	</div>

    @await Component.InvokeAsync("_NavbarView")

	<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
		<!-- Modal1 -->
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4>Hasat Vakti</h4>
					<img src="images/banner1.jpg" alt=" " class="img-responsive">
					<h5>Çevre ve Sürdürülebilirlik</h5>
					<p>
						Günümüz dünyasında çevre sorunları her geçen gün artmakta, doğal kaynaklar hızla tükenmektedir. Bu durum, insanlığın geleceğini doğrudan tehdit etmektedir. İşte tam da bu noktada sürdürülebilirlik kavramı devreye girer.
						Sürdürülebilirlik, hem bugünkü ihtiyaçlarımızı karşılamak hem de gelecek nesillerin yaşam hakkını korumak anlamına gelir. Doğayı tüketmeden, kirletmeden, dengeli ve sorumlu bir şekilde yaşamak demektir.
					</p>
				</div>
			</div>
		</div>
	</div>

    @await Component.InvokeAsync("_AboutView")

	@await Component.InvokeAsync("_ServiceView")

    @await Component.InvokeAsync("_TeamView")

	@await Component.InvokeAsync("_AnnouncementView")@*burada kucuk bır mola verıldı eksık yerlerı var unutma*@
	
	@await Component.InvokeAsync("_GalleryView")

	<div class="contact-agile" id="contact">
		<div class="container">
			
			@await Component.InvokeAsync("_AddressView")

            @await Html.PartialAsync("/Views/Default/SendMessage.cshtml")

		</div>
	</div>
	
	@await Component.InvokeAsync("_MapView")

	<div class="copy">
		<p>© @DateTime.Now.Year In Harvest . Tüm Hakları Saklıdır | Design by <a href="http://w3layouts.com/">W3layouts</a> </p>
	</div>
	@await Html.PartialAsync("/Views/Default/ScriptView.cshtml")
</body>
</html>
