@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@await Component.InvokeAsync("_DashboardHeaderView")
<body>  
    @await Component.InvokeAsync("_DashboardNavbarView")

    @await Component.InvokeAsync("_DashboardOverviewView")

    @await Component.InvokeAsync("_DashboardChartView")
    
    @await Component.InvokeAsync("_DashboardTableView")

    @await Component.InvokeAsync("_DashboardScriptView")
</body>
